#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.list-item {
  background-color: #61dafbaa;
  padding: 1em;
  /*list-style-type: none;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000000;
  min-width: 400px;
  list-style: none;
}

.list-item:nth-child(odd) {
  background-color: #61dafb;
}

.item {
  min-width: 25%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.list-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: #15424e;
  border: 1px solid #000000;
  margin-top: 30px;
}

.list {
  padding: 0;
  margin: 0;
}

.header-item {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}