$primary-color: rgb(221, 217, 200);

* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
.box {
    background-color: $primary-color;
    border: 2px solid black;
}
/*.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    background-color: #da9696;
    padding: 0 1rem;
}*/
.box {
    position: relative;
    padding: 5rem 1.5rem 0;
}
.box_title {
    font-size: 1rem;
    margin: 0;
    background-color: green;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    text-align: center;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #3d856d;
    padding: 1.5rem 1rem;
    // padding-bottom: 1.5rem;

    .title {
        display: flex;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
        img {
            margin: 0;
            padding: 0;
        }
        h1 {
            margin: 0;
            padding: 0;
            padding-left: 1rem;
        }
    }
    nav {
        ul {
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            li {
                margin: 0 1rem;
                a {
                    text-decoration: none;
                    color: black;
                    font-size: large;
                }
            }
        }
    }
}
.main {
    // background-color: #f4a261;
    flex: 1;
}
.footer {
    background-color: $primary-color;
    position: relative;
    bottom: 0;
    width: 100vw;
    max-width: 100%;
    height: 100px;
    margin: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 1rem;
}
.burger-menu {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: $primary-color;
    border: 2px solid black;
    padding: 20px 15px;
    border-radius: 15px;
    
    &__line {
        width: 100%;
        height: 3px;
        background-color: #000;
        border-radius: 2px;
    }
}
.box1 {
    .box_title {
        background-color: #61bef4;
    }
}
.box2 {
    .box_title {
        background-color: #ec9b3f;
    }
}
.box3 {
    .box_title {
        background-color: #ffdcdc;
    }
}
.bold {
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    main {
        width: 100%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        // background-color: #da9696;
        padding: 0 1rem;
    }
    .container {
        display: none;
    }
    .title-text {
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        width: 100%;
    }
    footer {
        background-color: $primary-color;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        // background-color: #da9696;
        padding: 0 1rem;
    }
    .box1 {
        grid-column: span 2;
        .box_title {
            width: calc(25% - 1rem);
        }
    }
    .container {
        display: none;
    }
}
@media only screen and (min-width: 1024px) {
    main {
        width: 100%;
    }
    footer {
        background-color: $primary-color;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        // background-color: #da9696;
        padding: 0 1rem;
    }
    .burger-menu {
        display: none;
    }
}