$primary-color: rgb(204, 194, 156);

html {
    box-sizing: border-box;
}
.box {
    background-color: $primary-color;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
}

@media only screen and (max-width: 767px) {
    main {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        width: 91.6%;
    }
    footer {
        background-color: $primary-color;
    }
}
@media only screen and (min-width: 1024px) {
    main {
        width: 66.6%;
    }
    footer {
        background-color: $primary-color;
    }
}